.container {
	max-width: 960px;
	margin: 0 auto;
	font-family: Arial;
}


/* ---- Nav Bar Styling ---- */

nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	margin: 1em auto;
	box-sizing: border-box;
}

.nav-pills {
	padding: .5em;
}

.nav li {
	list-style-type: none;
	display: inline;
	margin: .5em;
}

 .nav li a {
	display: inline;
	padding: .5em;
 }


/* ---- Aside Styling ---- */

aside {
	display: inline-block;
	float: left;
	margin: 0 auto;
	padding: 5px;
	background-color: #4DD7FA;
	border: 2px solid black;
	box-sizing: border-box;
}

div#filter-div {
	display: block;
	text-align: center;
	clear: both;
	padding-top: .5em;
}

#filter-button {
	margin: .5em auto;
	border: 2px solid black;
	font-size: 20px;
}

#artist, #album {
	width: 80%;
	padding: 3px;
	box-sizing: border-box;
}

.check1 {
	float: left;
	padding-bottom: 2px;
}

.check2 {
	float: right;
	padding-bottom: 2px;
}

input, select {
	padding: 2px;
}

/* ---- Main Content Styling ---- */

div#main-content {
	float: right;
	margin: 0 auto;
	padding: 5px;
	background-color: #FEFAC0;
	border: 2px solid black;
	box-sizing: border-box;
}

section.favorite-songs ul > li {
	display: inline;
	padding: 8px;
	list-style-type: none;
	font-size: 1.1em;
}

h3 {
	padding-left: 10px;
	color: #785616;
	font-size: 1.4em;
}

/* ---- Layout Styling ---- */

.visible {
  display: block;
}

.hidden {
  display: none;
}


/* ---- Add Music View Styling ---- */

div#add-music-view {
	display: inline-block;
	float: left;
	margin: 0 auto;
	padding: 5px;
	background-color: #4DD7FA;
	border: 2px solid black;
	box-sizing: border-box;
}

legend {
	font-size: 1.2em;
	text-align: center;
}

div#add-music-view input {
	display: block;
	text-align: left;
	width: 10em;
	margin: .5em;
}

button#add-button {
	display: block;
	margin: .5em auto;
}